.toolbar {
  &__spacer {
    flex: 1 1 auto;
  }

  &__menu {
    margin: 0 auto;
    list-style: none;
    display: flex;
    li {
      margin-right: 2em;
      &:last-child {
        margin-right: 0;
      }
    }
    &__icon {
      border: 0;
      background-color: transparent;
      color: white;
      vertical-align: middle;
    }
    &__text {
      color: white;
      text-decoration: none;
      vertical-align: middle;
    }
  }
}
